<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <!-- Pattern Lab Scaffolding -->
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!--  Bootstrap styles  -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
